@theme {
    --color-ly0: rgb(var(--ly0) / <alpha-value>);
    --color-ly0-a: rgb(var(--ly0-a) / <alpha-value>);
    --color-ly0-edge: rgb(var(--ly0-edge) / <alpha-value>);
    --color-ly0-gl: rgb(var(--ly0-gl) / <alpha-value>);
    --color-ly0-gl-a: rgb(var(--ly0-gl-a) / <alpha-value>);
    --color-ly0-gl-d: rgb(var(--ly0-gl-d) / <alpha-value>);
    --color-ly0-gl-pl: rgb(var(--ly0-gl-pl) / <alpha-value>);
    --color-ly0-gl-hl: rgb(var(--ly0-gl-hl) / <alpha-value>);
    --color-ly0-gl-hl-a: rgb(var(--ly0-gl-hl-a) / <alpha-value>);
    --color-ly0-gl-label: rgb(var(--ly0-gl-label) / <alpha-value>);
    --color-ly1: rgb(var(--ly1) / <alpha-value>);
    --color-ly1-a: rgb(var(--ly1-a) / <alpha-value>);
    --color-ly1-edge: rgb(var(--ly1-edge) / <alpha-value>);
    --color-ly1-icon: rgb(var(--ly1-icon) / <alpha-value>);
    --color-ly1-overlay: rgb(var(--ly1-overlay) / <alpha-value>);
    --color-ly1-gl: rgb(var(--ly1-gl) / <alpha-value>);
    --color-ly1-gl-a: rgb(var(--ly1-gl-a) / <alpha-value>);
    --color-ly1-gl-d: rgb(var(--ly1-gl-d) / <alpha-value>);
    --color-ly1-gl-pl: rgb(var(--ly1-gl-pl) / <alpha-value>);
    --color-ly1-gl-hl: rgb(var(--ly1-gl-hl) / <alpha-value>);
    --color-ly1-gl-hl-a: rgb(var(--ly1-gl-hl-a) / <alpha-value>);
    --color-ly1-gl-label: rgb(var(--ly1-gl-label) / <alpha-value>);
    --color-ly1-gl-edge: rgb(var(--ly1-gl-edge) / <alpha-value>);
    --color-ly2: rgb(var(--ly2) / <alpha-value>);
    --color-ly2-a: rgb(var(--ly2-a) / <alpha-value>);
    --color-ly2-edge: rgb(var(--ly2-edge) / <alpha-value>);
    --color-ly2-icon: rgb(var(--ly2-icon) / <alpha-value>);
    --color-ly2-gl: rgb(var(--ly2-gl) / <alpha-value>);
    --color-ly2-gl-a: rgb(var(--ly2-gl-a) / <alpha-value>);
    --color-ly2-gl-d: rgb(var(--ly2-gl-d) / <alpha-value>);
    --color-ly2-gl-pl: rgb(var(--ly2-gl-pl) / <alpha-value>);
    --color-ly2-gl-hl: rgb(var(--ly2-gl-hl) / <alpha-value>);
    --color-ly2-gl-hl-a: rgb(var(--ly2-gl-hl-a) / <alpha-value>);
    --color-ly2-gl-label: rgb(var(--ly2-gl-label) / <alpha-value>);
    --color-ly0: rgb(var(--ly0) / <alpha-value>);
    --color-ly0-a: rgb(var(--ly0-a) / <alpha-value>);
    --color-ly0-edge: rgb(var(--ly0-edge) / <alpha-value>);
    --color-ly0-gl: rgb(var(--ly0-gl) / <alpha-value>);
    --color-ly0-gl-a: rgb(var(--ly0-gl-a) / <alpha-value>);
    --color-ly0-gl-d: rgb(var(--ly0-gl-d) / <alpha-value>);
    --color-ly0-gl-pl: rgb(var(--ly0-gl-pl) / <alpha-value>);
    --color-ly0-gl-hl: rgb(var(--ly0-gl-hl) / <alpha-value>);
    --color-ly0-gl-hl-a: rgb(var(--ly0-gl-hl-a) / <alpha-value>);
    --color-ly0-gl-label: rgb(var(--ly0-gl-label) / <alpha-value>);
    --color-ly1: rgb(var(--ly1) / <alpha-value>);
    --color-ly1-a: rgb(var(--ly1-a) / <alpha-value>);
    --color-ly1-edge: rgb(var(--ly1-edge) / <alpha-value>);
    --color-ly1-icon: rgb(var(--ly1-icon) / <alpha-value>);
    --color-ly1-overlay: rgb(var(--ly1-overlay) / <alpha-value>);
    --color-ly1-gl: rgb(var(--ly1-gl) / <alpha-value>);
    --color-ly1-gl-a: rgb(var(--ly1-gl-a) / <alpha-value>);
    --color-ly1-gl-d: rgb(var(--ly1-gl-d) / <alpha-value>);
    --color-ly1-gl-pl: rgb(var(--ly1-gl-pl) / <alpha-value>);
    --color-ly1-gl-hl: rgb(var(--ly1-gl-hl) / <alpha-value>);
    --color-ly1-gl-hl-a: rgb(var(--ly1-gl-hl-a) / <alpha-value>);
    --color-ly1-gl-label: rgb(var(--ly1-gl-label) / <alpha-value>);
    --color-ly1-gl-edge: rgb(var(--ly1-gl-edge) / <alpha-value>);
    --color-ly2: rgb(var(--ly2) / <alpha-value>);
    --color-ly2-a: rgb(var(--ly2-a) / <alpha-value>);
    --color-ly2-edge: rgb(var(--ly2-edge) / <alpha-value>);
    --color-ly2-icon: rgb(var(--ly2-icon) / <alpha-value>);
    --color-ly2-gl: rgb(var(--ly2-gl) / <alpha-value>);
    --color-ly2-gl-a: rgb(var(--ly2-gl-a) / <alpha-value>);
    --color-ly2-gl-d: rgb(var(--ly2-gl-d) / <alpha-value>);
    --color-ly2-gl-pl: rgb(var(--ly2-gl-pl) / <alpha-value>);
    --color-ly2-gl-hl: rgb(var(--ly2-gl-hl) / <alpha-value>);
    --color-ly2-gl-hl-a: rgb(var(--ly2-gl-hl-a) / <alpha-value>);
    --color-ly2-gl-label: rgb(var(--ly2-gl-label) / <alpha-value>);
}

@plugin "daisyui/theme" {
    name: "os_light";
    default: false;
    prefersdark: false;
    color-scheme: light;

    --color-ly0: rgb(242, 242, 247);
    --color-ly0-a: rgb(242, 242, 247);
    --color-ly0-edge: rgb(159, 159, 165);
    --color-ly0-gl: rgb(0, 0, 0);
    --color-ly0-gl-a: rgb(0, 0, 0);
    --color-ly0-gl-d: rgb(145, 145, 149);
    --color-ly0-gl-pl: rgb(145, 145, 149);
    --color-ly0-gl-hl: rgb(52, 120, 246);
    --color-ly0-gl-hl-a: rgb(108, 165, 249);
    --color-ly0-gl-label: rgb(177, 177, 182);
    --color-ly1: rgb(255, 255, 255);
    --color-ly1-a: rgb(209, 209, 214);
    --color-ly1-edge: rgb(197, 197, 199);
    --color-ly1-icon: rgb(127, 127, 132);
    --color-ly1-overlay: rgb(142, 142, 147);
    --color-ly1-gl: rgb(14, 14, 14);
    --color-ly1-gl-a: rgb(29, 29, 29);
    --color-ly1-gl-d: rgb(29, 29, 29);
    --color-ly1-gl-pl: rgb(29, 29, 29);
    --color-ly1-gl-hl: rgb(52, 120, 246);
    --color-ly1-gl-hl-a: rgb(199, 217, 246);
    --color-ly1-gl-label: rgb(164, 164, 164);
    --color-ly1-gl-edge: rgb(191, 191, 191);
    --color-ly2: rgb(242, 242, 247);
    --color-ly2-a: rgb(58, 58, 60);
    --color-ly2-edge: rgb(112, 112, 115);
    --color-ly2-icon: rgb(159, 159, 164);
    --color-ly2-gl: rgb(14, 14, 14);
    --color-ly2-gl-a: rgb(29, 29, 29);
    --color-ly2-gl-d: rgb(29, 29, 29);
    --color-ly2-gl-pl: rgb(29, 29, 29);
    --color-ly2-gl-hl: rgb(52, 120, 246);
    --color-ly2-gl-hl-a: rgb(199, 217, 246);
    --color-ly2-gl-label: rgb(137, 137, 142);
}

@plugin "daisyui/theme" {
    name: "os_dark";
    default: false;
    prefersdark: false;
    color-scheme: dark;

    --color-ly0: rgb(0, 0, 0);
    --color-ly0-a: rgb(31, 31, 31);
    --color-ly0-edge: rgb(125, 125, 129);
    --color-ly0-gl: rgb(255, 255, 255);
    --color-ly0-gl-a: rgb(255, 255, 255);
    --color-ly0-gl-d: rgb(125, 125, 129);
    --color-ly0-gl-pl: rgb(125, 125, 129);
    --color-ly0-gl-hl: rgb(54, 117, 220);
    --color-ly0-gl-hl-a: rgb(85, 151, 242);
    --color-ly0-gl-label: rgb(125, 125, 129);
    --color-ly1: rgb(28, 28, 31);
    --color-ly1-a: rgb(58, 58, 60);
    --color-ly1-edge: rgb(38, 38, 40);
    --color-ly1-icon: rgb(152, 152, 158);
    --color-ly1-overlay: rgb(142, 142, 147);
    --color-ly1-gl: rgb(240, 240, 240);
    --color-ly1-gl-a: rgb(240, 240, 240);
    --color-ly1-gl-d: rgb(88, 88, 93);
    --color-ly1-gl-pl: rgb(128, 128, 133);
    --color-ly1-gl-hl: rgb(59, 130, 247);
    --color-ly1-gl-hl-a: rgb(21, 52, 98);
    --color-ly1-gl-label: rgb(125, 125, 125);
    --color-ly1-gl-edge: rgb(85, 85, 85);
    --color-ly2: rgb(44, 44, 46);
    --color-ly2-a: rgb(58, 58, 60);
    --color-ly2-edge: rgb(112, 112, 115);
    --color-ly2-icon: rgb(159, 159, 164);
    --color-ly2-gl: rgb(241, 241, 241);
    --color-ly2-gl-a: rgb(241, 241, 241);
    --color-ly2-gl-d: rgb(130, 130, 134);
    --color-ly2-gl-pl: rgb(128, 128, 133);
    --color-ly2-gl-hl: rgb(59, 130, 247);
    --color-ly2-gl-hl-a: rgb(21, 52, 98);
    --color-ly2-gl-label: rgb(130, 130, 134);
}

